
/* fonts:
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Open Sans', sans-serif;
*/

/* style:
white: #FAFAFA;
grey: #D2D9DE;
purple: #534E6B;
black: #363537;

blue: #75D3DE;
green: #96D384;
red: #E97975;
*/

html {
    font-size: 62.5%; /* 1rem = 10px - use rem */
    height: 100%;
    padding: 0;
    margin: 0
}

body {
    height: 100%;
    padding: 0;
    margin: 0;

    background-color: #534E6B;
    display: flex;
    align-items: stretch;
}

button:focus,
input:focus {
    outline: none;
}

.sidebar {
    width: 25%;
    background-color: #FAFAFA;
}

.main {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Add Card Form */
#add-card-form {
    padding: 4rem 2rem;
}

#add-card-form input {
    width: 90%;
    padding: 0 2%;
    margin: 2rem auto 0 auto;

    font-size: 1.6rem;
    line-height: 3.0rem;
    height: 3.0rem;

    border: 2px solid #75D3DE;
}

#add-card-form button {
    margin-top: 2rem;
}

/* Card Columns */
.card-column {
    width: 32%;
    height: 86vh;
    background-color: #D2D9DE;
    padding: 1%;
}

.card-column-title,
.form-title {
    font-family: 'Inconsolata', serif;
    font-size: 2.2rem;
    font-weight: 700;
    color: #363537;
}

.card-column-title {
    margin-bottom: 1rem;
}

.card-list {
    margin-top: 1rem;
}

/* Cards */
.card {
    color: #363537;

    width: 96%;
    background-color: #FAFAFA;
    border-radius: 5px;

    padding: 2%;
    margin: auto;
}

.card .title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.0rem;
    font-weight: bold;
}

.card .description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
}

.card .actions {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

/* Buttons */
button {
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    border: 2px solid;
    border-radius: 2px;
    background-color: #FAFAFA;

    cursor: pointer;
}

button.delete-card {
    color: #E97975;
    border-color: #E97975;
}
button.delete-card:hover {
    color: #FAFAFA;
    background-color: #E97975;
}

button.complete-card {
    color: #96D384;
    border-color: #96D384;
}
button.complete-card:hover {
    color: #FAFAFA;
    background-color: #96D384;
}

button.add-card {
    color: #75D3DE;
    border-color: #75D3DE;
}
button.add-card:hover {
    color: #FAFAFA;
    background-color: #75D3DE;
}
